In [144]:
import numpy as np
import pandas as pd
from sklearn import tree

In [145]:
diabetes_dataset = pd.read_csv('diabetes_dataset.csv', header=0)

In [146]:
diabetes_dataset.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [147]:
diabetes_dataset["Outcome"] = pd.factorize(diabetes_dataset.Outcome)[0]

In [148]:
diabetes_dataset.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,0
1,1,85,66,29,0,26.6,0.351,31,1
2,8,183,64,0,0,23.3,0.672,32,0
3,1,89,66,23,94,28.1,0.167,21,1
4,0,137,40,35,168,43.1,2.288,33,0

In [149]:
print(diabetes_dataset)

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0              6      148             72             35        0  33.6
1              1       85             66             29        0  26.6
2              8      183             64              0        0  23.3
3              1       89             66             23       94  28.1
4              0      137             40             35      168  43.1
..           ...      ...            ...            ...      ...   ...
763           10      101             76             48      180  32.9
764            2      122             70             27        0  36.8
765            5      121             72             23      112  26.2
766            1      126             60              0        0  30.1
767            1       93             70             31        0  30.4

     DiabetesPedigreeFunction  Age  Outcome
0                       0.627   50        0
1                       0.351   31        1
2                       0.672   32        0
3                       0.167   21        1
4                       2.288   33        0
..                        ...  ...      ...
763                     0.171   63        1
764                     0.340   27        1
765                     0.245   30        1
766                     0.349   47        0
767                     0.315   23        1

[768 rows x 9 columns]

In [150]:
diabetes_dataset = diabetes_dataset.drop(labels="Outcome", axis=1)

In [151]:
print(diabetes_dataset)

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0              6      148             72             35        0  33.6
1              1       85             66             29        0  26.6
2              8      183             64              0        0  23.3
3              1       89             66             23       94  28.1
4              0      137             40             35      168  43.1
..           ...      ...            ...            ...      ...   ...
763           10      101             76             48      180  32.9
764            2      122             70             27        0  36.8
765            5      121             72             23      112  26.2
766            1      126             60              0        0  30.1
767            1       93             70             31        0  30.4

     DiabetesPedigreeFunction  Age
0                       0.627   50
1                       0.351   31
2                       0.672   32
3                       0.167   21
4                       2.288   33
..                        ...  ...
763                     0.171   63
764                     0.340   27
765                     0.245   30
766                     0.349   47
767                     0.315   23

[768 rows x 8 columns]

In [152]:
diabetes_dataset =diabetes_dataset.to_numpy()

In [153]:
print(diabetes_dataset)

[[  6.    148.     72.    ...  33.6     0.627  50.   ]
 [  1.     85.     66.    ...  26.6     0.351  31.   ]
 [  8.    183.     64.    ...  23.3     0.672  32.   ]
 ...
 [  5.    121.     72.    ...  26.2     0.245  30.   ]
 [  1.    126.     60.    ...  30.1     0.349  47.   ]
 [  1.     93.     70.    ...  30.4     0.315  23.   ]]

In [154]:
dataTraining = np.concatenate((diabetes_dataset[0:40, :], diabetes_dataset[50:90, :]),
                              axis=0)
dataTesting = np.concatenate((diabetes_dataset[40:50, :], diabetes_dataset[90:100, :]),
                              axis=0)

In [155]:
print(dataTraining)
len(dataTraining)

[[6.000e+00 1.480e+02 7.200e+01 3.500e+01 0.000e+00 3.360e+01 6.270e-01
  5.000e+01]
 [1.000e+00 8.500e+01 6.600e+01 2.900e+01 0.000e+00 2.660e+01 3.510e-01
  3.100e+01]
 [8.000e+00 1.830e+02 6.400e+01 0.000e+00 0.000e+00 2.330e+01 6.720e-01
  3.200e+01]
 [1.000e+00 8.900e+01 6.600e+01 2.300e+01 9.400e+01 2.810e+01 1.670e-01
  2.100e+01]
 [0.000e+00 1.370e+02 4.000e+01 3.500e+01 1.680e+02 4.310e+01 2.288e+00
  3.300e+01]
 [5.000e+00 1.160e+02 7.400e+01 0.000e+00 0.000e+00 2.560e+01 2.010e-01
  3.000e+01]
 [3.000e+00 7.800e+01 5.000e+01 3.200e+01 8.800e+01 3.100e+01 2.480e-01
  2.600e+01]
 [1.000e+01 1.150e+02 0.000e+00 0.000e+00 0.000e+00 3.530e+01 1.340e-01
  2.900e+01]
 [2.000e+00 1.970e+02 7.000e+01 4.500e+01 5.430e+02 3.050e+01 1.580e-01
  5.300e+01]
 [8.000e+00 1.250e+02 9.600e+01 0.000e+00 0.000e+00 0.000e+00 2.320e-01
  5.400e+01]
 [4.000e+00 1.100e+02 9.200e+01 0.000e+00 0.000e+00 3.760e+01 1.910e-01
  3.000e+01]
 [1.000e+01 1.680e+02 7.400e+01 0.000e+00 0.000e+00 3.800e+01 5.370e-01
  3.400e+01]
 [1.000e+01 1.390e+02 8.000e+01 0.000e+00 0.000e+00 2.710e+01 1.441e+00
  5.700e+01]
 [1.000e+00 1.890e+02 6.000e+01 2.300e+01 8.460e+02 3.010e+01 3.980e-01
  5.900e+01]
 [5.000e+00 1.660e+02 7.200e+01 1.900e+01 1.750e+02 2.580e+01 5.870e-01
  5.100e+01]
 [7.000e+00 1.000e+02 0.000e+00 0.000e+00 0.000e+00 3.000e+01 4.840e-01
  3.200e+01]
 [0.000e+00 1.180e+02 8.400e+01 4.700e+01 2.300e+02 4.580e+01 5.510e-01
  3.100e+01]
 [7.000e+00 1.070e+02 7.400e+01 0.000e+00 0.000e+00 2.960e+01 2.540e-01
  3.100e+01]
 [1.000e+00 1.030e+02 3.000e+01 3.800e+01 8.300e+01 4.330e+01 1.830e-01
  3.300e+01]
 [1.000e+00 1.150e+02 7.000e+01 3.000e+01 9.600e+01 3.460e+01 5.290e-01
  3.200e+01]
 [3.000e+00 1.260e+02 8.800e+01 4.100e+01 2.350e+02 3.930e+01 7.040e-01
  2.700e+01]
 [8.000e+00 9.900e+01 8.400e+01 0.000e+00 0.000e+00 3.540e+01 3.880e-01
  5.000e+01]
 [7.000e+00 1.960e+02 9.000e+01 0.000e+00 0.000e+00 3.980e+01 4.510e-01
  4.100e+01]
 [9.000e+00 1.190e+02 8.000e+01 3.500e+01 0.000e+00 2.900e+01 2.630e-01
  2.900e+01]
 [1.100e+01 1.430e+02 9.400e+01 3.300e+01 1.460e+02 3.660e+01 2.540e-01
  5.100e+01]
 [1.000e+01 1.250e+02 7.000e+01 2.600e+01 1.150e+02 3.110e+01 2.050e-01
  4.100e+01]
 [7.000e+00 1.470e+02 7.600e+01 0.000e+00 0.000e+00 3.940e+01 2.570e-01
  4.300e+01]
 [1.000e+00 9.700e+01 6.600e+01 1.500e+01 1.400e+02 2.320e+01 4.870e-01
  2.200e+01]
 [1.300e+01 1.450e+02 8.200e+01 1.900e+01 1.100e+02 2.220e+01 2.450e-01
  5.700e+01]
 [5.000e+00 1.170e+02 9.200e+01 0.000e+00 0.000e+00 3.410e+01 3.370e-01
  3.800e+01]
 [5.000e+00 1.090e+02 7.500e+01 2.600e+01 0.000e+00 3.600e+01 5.460e-01
  6.000e+01]
 [3.000e+00 1.580e+02 7.600e+01 3.600e+01 2.450e+02 3.160e+01 8.510e-01
  2.800e+01]
 [3.000e+00 8.800e+01 5.800e+01 1.100e+01 5.400e+01 2.480e+01 2.670e-01
  2.200e+01]
 [6.000e+00 9.200e+01 9.200e+01 0.000e+00 0.000e+00 1.990e+01 1.880e-01
  2.800e+01]
 [1.000e+01 1.220e+02 7.800e+01 3.100e+01 0.000e+00 2.760e+01 5.120e-01
  4.500e+01]
 [4.000e+00 1.030e+02 6.000e+01 3.300e+01 1.920e+02 2.400e+01 9.660e-01
  3.300e+01]
 [1.100e+01 1.380e+02 7.600e+01 0.000e+00 0.000e+00 3.320e+01 4.200e-01
  3.500e+01]
 [9.000e+00 1.020e+02 7.600e+01 3.700e+01 0.000e+00 3.290e+01 6.650e-01
  4.600e+01]
 [2.000e+00 9.000e+01 6.800e+01 4.200e+01 0.000e+00 3.820e+01 5.030e-01
  2.700e+01]
 [4.000e+00 1.110e+02 7.200e+01 4.700e+01 2.070e+02 3.710e+01 1.390e+00
  5.600e+01]
 [1.000e+00 1.030e+02 8.000e+01 1.100e+01 8.200e+01 1.940e+01 4.910e-01
  2.200e+01]
 [1.000e+00 1.010e+02 5.000e+01 1.500e+01 3.600e+01 2.420e+01 5.260e-01
  2.600e+01]
 [5.000e+00 8.800e+01 6.600e+01 2.100e+01 2.300e+01 2.440e+01 3.420e-01
  3.000e+01]
 [8.000e+00 1.760e+02 9.000e+01 3.400e+01 3.000e+02 3.370e+01 4.670e-01
  5.800e+01]
 [7.000e+00 1.500e+02 6.600e+01 4.200e+01 3.420e+02 3.470e+01 7.180e-01
  4.200e+01]
 [1.000e+00 7.300e+01 5.000e+01 1.000e+01 0.000e+00 2.300e+01 2.480e-01
  2.100e+01]
 [7.000e+00 1.870e+02 6.800e+01 3.900e+01 3.040e+02 3.770e+01 2.540e-01
  4.100e+01]
 [0.000e+00 1.000e+02 8.800e+01 6.000e+01 1.100e+02 4.680e+01 9.620e-01
  3.100e+01]
 [0.000e+00 1.460e+02 8.200e+01 0.000e+00 0.000e+00 4.050e+01 1.781e+00
  4.400e+01]
 [0.000e+00 1.050e+02 6.400e+01 4.100e+01 1.420e+02 4.150e+01 1.730e-01
  2.200e+01]
 [2.000e+00 8.400e+01 0.000e+00 0.000e+00 0.000e+00 0.000e+00 3.040e-01
  2.100e+01]
 [8.000e+00 1.330e+02 7.200e+01 0.000e+00 0.000e+00 3.290e+01 2.700e-01
  3.900e+01]
 [5.000e+00 4.400e+01 6.200e+01 0.000e+00 0.000e+00 2.500e+01 5.870e-01
  3.600e+01]
 [2.000e+00 1.410e+02 5.800e+01 3.400e+01 1.280e+02 2.540e+01 6.990e-01
  2.400e+01]
 [7.000e+00 1.140e+02 6.600e+01 0.000e+00 0.000e+00 3.280e+01 2.580e-01
  4.200e+01]
 [5.000e+00 9.900e+01 7.400e+01 2.700e+01 0.000e+00 2.900e+01 2.030e-01
  3.200e+01]
 [0.000e+00 1.090e+02 8.800e+01 3.000e+01 0.000e+00 3.250e+01 8.550e-01
  3.800e+01]
 [2.000e+00 1.090e+02 9.200e+01 0.000e+00 0.000e+00 4.270e+01 8.450e-01
  5.400e+01]
 [1.000e+00 9.500e+01 6.600e+01 1.300e+01 3.800e+01 1.960e+01 3.340e-01
  2.500e+01]
 [4.000e+00 1.460e+02 8.500e+01 2.700e+01 1.000e+02 2.890e+01 1.890e-01
  2.700e+01]
 [2.000e+00 1.000e+02 6.600e+01 2.000e+01 9.000e+01 3.290e+01 8.670e-01
  2.800e+01]
 [5.000e+00 1.390e+02 6.400e+01 3.500e+01 1.400e+02 2.860e+01 4.110e-01
  2.600e+01]
 [1.300e+01 1.260e+02 9.000e+01 0.000e+00 0.000e+00 4.340e+01 5.830e-01
  4.200e+01]
 [4.000e+00 1.290e+02 8.600e+01 2.000e+01 2.700e+02 3.510e+01 2.310e-01
  2.300e+01]
 [1.000e+00 7.900e+01 7.500e+01 3.000e+01 0.000e+00 3.200e+01 3.960e-01
  2.200e+01]
 [1.000e+00 0.000e+00 4.800e+01 2.000e+01 0.000e+00 2.470e+01 1.400e-01
  2.200e+01]
 [7.000e+00 6.200e+01 7.800e+01 0.000e+00 0.000e+00 3.260e+01 3.910e-01
  4.100e+01]
 [5.000e+00 9.500e+01 7.200e+01 3.300e+01 0.000e+00 3.770e+01 3.700e-01
  2.700e+01]
 [0.000e+00 1.310e+02 0.000e+00 0.000e+00 0.000e+00 4.320e+01 2.700e-01
  2.600e+01]
 [2.000e+00 1.120e+02 6.600e+01 2.200e+01 0.000e+00 2.500e+01 3.070e-01
  2.400e+01]
 [3.000e+00 1.130e+02 4.400e+01 1.300e+01 0.000e+00 2.240e+01 1.400e-01
  2.200e+01]
 [2.000e+00 7.400e+01 0.000e+00 0.000e+00 0.000e+00 0.000e+00 1.020e-01
  2.200e+01]
 [7.000e+00 8.300e+01 7.800e+01 2.600e+01 7.100e+01 2.930e+01 7.670e-01
  3.600e+01]
 [0.000e+00 1.010e+02 6.500e+01 2.800e+01 0.000e+00 2.460e+01 2.370e-01
  2.200e+01]
 [5.000e+00 1.370e+02 1.080e+02 0.000e+00 0.000e+00 4.880e+01 2.270e-01
  3.700e+01]
 [2.000e+00 1.100e+02 7.400e+01 2.900e+01 1.250e+02 3.240e+01 6.980e-01
  2.700e+01]
 [1.300e+01 1.060e+02 7.200e+01 5.400e+01 0.000e+00 3.660e+01 1.780e-01
  4.500e+01]
 [2.000e+00 1.000e+02 6.800e+01 2.500e+01 7.100e+01 3.850e+01 3.240e-01
  2.600e+01]
 [1.500e+01 1.360e+02 7.000e+01 3.200e+01 1.100e+02 3.710e+01 1.530e-01
  4.300e+01]
 [1.000e+00 1.070e+02 6.800e+01 1.900e+01 0.000e+00 2.650e+01 1.650e-01
  2.400e+01]]

80

In [156]:
print(dataTesting)
len(dataTesting)

[[3.000e+00 1.800e+02 6.400e+01 2.500e+01 7.000e+01 3.400e+01 2.710e-01
  2.600e+01]
 [7.000e+00 1.330e+02 8.400e+01 0.000e+00 0.000e+00 4.020e+01 6.960e-01
  3.700e+01]
 [7.000e+00 1.060e+02 9.200e+01 1.800e+01 0.000e+00 2.270e+01 2.350e-01
  4.800e+01]
 [9.000e+00 1.710e+02 1.100e+02 2.400e+01 2.400e+02 4.540e+01 7.210e-01
  5.400e+01]
 [7.000e+00 1.590e+02 6.400e+01 0.000e+00 0.000e+00 2.740e+01 2.940e-01
  4.000e+01]
 [0.000e+00 1.800e+02 6.600e+01 3.900e+01 0.000e+00 4.200e+01 1.893e+00
  2.500e+01]
 [1.000e+00 1.460e+02 5.600e+01 0.000e+00 0.000e+00 2.970e+01 5.640e-01
  2.900e+01]
 [2.000e+00 7.100e+01 7.000e+01 2.700e+01 0.000e+00 2.800e+01 5.860e-01
  2.200e+01]
 [7.000e+00 1.030e+02 6.600e+01 3.200e+01 0.000e+00 3.910e+01 3.440e-01
  3.100e+01]
 [7.000e+00 1.050e+02 0.000e+00 0.000e+00 0.000e+00 0.000e+00 3.050e-01
  2.400e+01]
 [1.000e+00 8.000e+01 5.500e+01 0.000e+00 0.000e+00 1.910e+01 2.580e-01
  2.100e+01]
 [4.000e+00 1.230e+02 8.000e+01 1.500e+01 1.760e+02 3.200e+01 4.430e-01
  3.400e+01]
 [7.000e+00 8.100e+01 7.800e+01 4.000e+01 4.800e+01 4.670e+01 2.610e-01
  4.200e+01]
 [4.000e+00 1.340e+02 7.200e+01 0.000e+00 0.000e+00 2.380e+01 2.770e-01
  6.000e+01]
 [2.000e+00 1.420e+02 8.200e+01 1.800e+01 6.400e+01 2.470e+01 7.610e-01
  2.100e+01]
 [6.000e+00 1.440e+02 7.200e+01 2.700e+01 2.280e+02 3.390e+01 2.550e-01
  4.000e+01]
 [2.000e+00 9.200e+01 6.200e+01 2.800e+01 0.000e+00 3.160e+01 1.300e-01
  2.400e+01]
 [1.000e+00 7.100e+01 4.800e+01 1.800e+01 7.600e+01 2.040e+01 3.230e-01
  2.200e+01]
 [6.000e+00 9.300e+01 5.000e+01 3.000e+01 6.400e+01 2.870e+01 3.560e-01
  2.300e+01]
 [1.000e+00 1.220e+02 9.000e+01 5.100e+01 2.200e+02 4.970e+01 3.250e-01
  3.100e+01]]

20

In [157]:
inputTraining = dataTraining[:, 0:4]
inputTesting = dataTesting[:, 0:4]
labelTraining = dataTraining[:, 4]
labelTesting = dataTesting[:, 4]
print(labelTraining)
len(labelTraining)

[  0.   0.   0.  94. 168.   0.  88.   0. 543.   0.   0.   0.   0. 846.
 175.   0. 230.   0.  83.  96. 235.   0.   0.   0. 146. 115.   0. 140.
 110.   0.   0. 245.  54.   0.   0. 192.   0.   0.   0. 207.  82.  36.
  23. 300. 342.   0. 304. 110.   0. 142.   0.   0.   0. 128.   0.   0.
   0.   0.  38. 100.  90. 140.   0. 270.   0.   0.   0.   0.   0.   0.
   0.   0.  71.   0.   0. 125.   0.  71. 110.   0.]

80

In [158]:
model = tree.DecisionTreeClassifier()

In [159]:
model = model.fit(inputTraining, labelTraining)

In [160]:
hasilPrediksi = model.predict(inputTesting)
print("Label sebenarnya : ", labelTesting)
print("Hasil Prediksi : ", hasilPrediksi)

Label sebenarnya :  [ 70.   0.   0. 240.   0.   0.   0.   0.   0.   0.   0. 176.  48.   0.
  64. 228.   0.  76.  64. 220.]
Hasil Prediksi :  [140.   0.   0. 100.   0. 846.   0.  71.   0.   0.   0.  96.  71.   0.
 175. 100.   0.   0.   0. 230.]

In [161]:
prediksiBenar = (hasilPrediksi == labelTesting).sum()
prediksiSalah = (hasilPrediksi != labelTesting).sum()
print("Prediksi Benar : ", prediksiBenar, "data")
print("Prediksi Salah : ", prediksiSalah, "data")
print("Akurasi :", prediksiBenar/(prediksiBenar+prediksiSalah) * 100, "%")

Prediksi Benar :  9 data
Prediksi Salah :  11 data
Akurasi : 45.0 %